
body {
    font-family: Geneva;
    background-color: #ffffff; /* light blue background */
    display: flex;
    background-image: url('blue2.jpg');
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background: #d3dce1;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 350px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #1976d2; /* primary blue */
}

select, input, button {
    width: 95%;
    padding: 9px;
    margin: 12px 0;
    border: 1px solid #90caf9;
    border-radius: 8px;
    font-size: 15px;
    font-family: Geneva;
    transition: all 0.3s ease;
    box-sizing: border-box;

}

select:focus,
input:focus {
    border-color: #1976d2;
    outline: none;
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.4);
}

button {
    background-color: #1976d2; /* primary blue */
    color: white;
    font-size: 16px;
    font-family: Geneva;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #1565c0; /* darker blue */
    transform: scale(1.03);
}

h3 {
    margin-top: 20px;
    color: #0d47a1; /* deep blue */
}
